name: Continuos Integration with Github Actions

on:
  push:
    branches: 
      - main 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Docker Login
      uses: docker/login-action@v2.1.0
      with:
       username: ${{ secrets.DOCKER_USERNAME }}
       password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Set up JDK 20
      uses: actions/setup-java@v3
      with:
        java-version: '19'
        distribution: 'adopt'
        cache: maven
        
    - name: Build Application JAR with Maven
      working-directory: ./java-spring-boot-api
      run: mvn clean package
        
    - name: Build Docker Compose
      working-directory: ./java-spring-boot-api-docker
      run: docker compose build
      
    - name: push to Docker Hub
      run: |
        docker tag ${{ secrets.DOCKER_USERNAME }}/java-spring-boot-api:latest ${{ secrets.DOCKER_USERNAME }}/java-spring-boot-api:${{ github.run_id }}
        docker push ${{ secrets.DOCKER_USERNAME }}/java-spring-boot-api:${{ github.run_id }}
        docker push ${{ secrets.DOCKER_USERNAME }}/java-spring-boot-api:latest
